.header{
    height: 760px;
    background-image: linear-gradient(-134deg, #000000, #00000050), url("../../assets/images/foto001.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-menu{
    /* border: 2px solid hotpink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-menu > span{
    /* border: 2px solid red; */
    padding: 1rem;
}

.nav-menu > span > h1{
    font-size: 1.2rem;
}

.nav-menu > .list-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.nav-menu > .list-links > li{
    width: 90px;
    height: 38px;
    border-radius: .9rem;
    overflow: hidden;
}

.nav-menu > .list-links > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    font-size: 1.2rem;
    font-weight: bold;
}

.btn-menu{
    display: none;
}