.diversos{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    padding: 0 1rem;
}

.diversos{

    & .carrossel{  
        display: flex;  
        gap: 2rem;  
        padding: 1rem;  
        overflow-x: auto;  
        scroll-snap-type: x mandatory;  
        /* border: 2px solid red; */  
      
        & .box-card{  
            flex: 0 0 200px;  
            height: 250px;  
            scroll-snap-align: center;  
            border: 2px solid red;   
            border-radius: 1rem;  
            overflow: hidden;  
          
            & img{  
                width: 100%;  
                height: 100%;  
                object-fit: cover;  
                transition: .3s;  
              
                &:hover{  
                    transform: scale(1.05);
                }
            }  
        }  
    }  
}

.diversos{
    
    & .callback{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    /* border: 2px orange solid; */

        & .box-search{  
            position: relative;  
            align-self: center;  
            border: 2px solid #006281;  
            border-radius: 1rem;  
            overflow: hidden;  
          
            & i{  
                position: absolute;  
                top: 50%;  
                right: .5rem;  
                transform: translateY(-50%);  
                color: white;  
            }  
          
            & .search{  
                width: 250px;  
                height: 30px;  
                border: none;  
                outline: none;  
                background: transparent;  
                padding: 0 1.8rem 0 .5rem;  
                  
                color: white;  
                font-weight: 700;  
              
                &::placeholder{  
                    color: #e0e0e0;
                }
            }  
        }  
    }  
}

.diversos{

    & .callback{  
      
        & .topicos{  
            display: flex;  
            justify-content: start;  
            align-items: center;  
            width: 70%;  
            gap: 1rem;  
            /* border: 2px solid blue; */  
            /* padding: 1rem; */  
          
            & > span{  
                display: flex;  
                align-items: center;  
                justify-content: center;  
                flex: 0 0 auto;  
                height: 100%;  
                padding: .3rem;
                cursor: pointer;
                /* border: 2px solid yellow; */  
              
                & > h3{  
                    font-size: 1.2rem;  
                    font-weight: 600;  
                    width: 100%;  
                }  
            }  
          
            & .title-topics{  
                display: flex;  
                align-items: center;  
                gap: 2rem;  
                padding: 1rem;  
                width: auto;  
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                /* border: 2px solid orangered; */  
              
                & > span{  
                    display: flex;
                    justify-content: center;
                    align-items: center;  
                    flex: 0 0 auto;
                    height: 25px;
                    padding: .3rem;
                    background: #f0f0f050;
                    border-radius: .3rem;
                    /* border: 2px solid; */
                    scroll-snap-align: start;
                    transition: .5s;
                    
                    &:hover{
                        background: #00394b;
                    }
                    
                    h4{
                        font-weight: 700;
                        color: #f0f0f0;
                       
                       &:hover{
                           color: #fff;
                       }
                    }
                }
            }  
        }  
    }  
}

