.grid-layout{
    display: grid;
    grid-template-columns: auto repeat(3, 1fr);
    grid-template-areas: 
    "lado topo topo topo"
    "lado main main main"
    "lado secao secao secao"
    "lado extra1 extra2 extra3"
    "lado footer footer footer";
    
    gap: .5rem;
    width: 100%;
    min-height: 100dvh;
    border: 2px solid black;
    background: lightgray;
}

.cabecalho{
    background: orangered;
    grid-area: topo;
    height: 60px;
}

.main{
    background: #00daff;
    grid-area: main;
    min-height: 768px;
    height: auto;
}

.lado{
    background: #9fff00;
    grid-area: lado;
    width: 80px;
}

.secao{
    grid-area: secao;
    min-height: 300px;
    background: orangered;
}

.extra1{
    background: #f900ff;
    grid-area: extra1;
    min-height: 300px;
}

.extra2{
    background: #b200ff;
    grid-area: extra2;
}

.extra3{
    background: #f4ff00;
    grid-area: extra3;
}

.rodape{
    background: #ff1100;
    grid-area: footer;
    height: 30px;
}